<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p>Disfruta de los animales más exoticos de nuestro Zoologico :-)!</p>
    <p>
      <a [routerLink]="['/animales']" role="button" class="btn btn-primary btn-lg">Ver animales</a>
      <a [routerLink]="['/cuidadores']" role="button" class="btn btn-success btn-lg">Ver cuidadores</a>
      <a [routerLink]="['/contacto']" role="button" class="btn btn-warning btn-lg">Contacta con nosotros</a>
    </p>
  </div>
</div>
